# Project Configurations
.ftpconfig
.ftpignore
.vscode
site/config.php
project.cson
/vendor
site/modules/Payments/credentials.json
site/modules/ProcessExportProfile


# DW Dreamweaver added files
_notes
_compareTemp
dwsync.xml
dw_php_codehinting.config
*.mno


# Processwire Directories
site/assets
wire
